*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 
}
/*header---------------hader*/
.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(97, 1, 1);
    align-items: center;
    padding: 0.5rem 2rem ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap:10px;
}

/*menu que contiene al buscador y al logo*/
.menu .menu__logo-container{
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;  /*ojo:si aplico grow al los elemntos, el flex padre no funciona el justify,pero los hijos de ese elemento si puedo aplicar justife y aling*/
    min-width: 100px;
    
}

.menu .menu__logo-container img:hover{
    width: 55px;
}


.menu .menu__logo-container input{
    max-width: 200px;
    min-height: 25px;
    font-size: 1rem;
    background-color: black;
    color: aliceblue;
    font-size: inherit;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 100px;
}
.menu .menu__logo-container input:hover{
    background-color: rgba(18, 18, 18, 0.751);
}



/*  menu: apartado que contiene al navegador*/
.menu .menu__nav-container{


}

.menu .menu__nav-container ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: aliceblue;
    flex-wrap: wrap;
    
    
    
    
}

.menu .menu__nav-container ul li{
    font-size: inherit;
    padding: 8px;
    
    
}

.menu .menu__nav-container ul li:hover{
    background-color: rgba(0, 0, 0, 0.507);
}

.menu .menu__nav-container ul li a{
    color:inherit;
    text-decoration: none;
    font-size: inherit;
    
    padding: 5px;
    border-radius: 5px;
}
/* input de tipo checkbox para mi menu desplegable en responsive*/
.menu .menu__desplegable{
    display: none;
}

.menu>label{
    display: none;
    font-size: 2.2rem;
}




/*main titulo y fondo de la pagina */
.main{
    
    background-image: url(../assets/Comer-hamburguesa-puede-ser-saludable.webp);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.main .main__presentacion{
    min-height: 90vh;
    background: linear-gradient(to left,transparent,black);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 30px;
}

.main .main__presentacion h1{
    font-size: 3.2rem;
}

.main .main__presentacion p{
    font-size: 1.5rem;
    max-width: 650px;
    width: 90%;
    
}


/*main promociones seccion de productos recomendados------*/
.producto-container{
    background-color: rgb(0, 0, 0);
    padding-top: 3rem;
    padding-bottom:3rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.producto-container h2{
    margin-bottom: 50px;
    color: aliceblue;
    font-size: 2rem;
    margin-left: 2rem;
    text-align: center;
    font-weight: 500;
    
}

.producto-container .producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.producto-container .producto .producto__item{ 
    
    max-width: 700px;
    flex-grow: 1;
    min-width: 300px;
    flex-basis: 0;
    
}

.producto-container .producto .producto__item .producto__item__descripcion{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

.producto-container .producto .producto__item .producto__item__descripcion:hover{
    background-color: rgba(24, 24, 24, 0.578);
}

.producto-container .producto .producto__item .producto__item__descripcion h3{
    font-size: 2rem;
    overflow-wrap:break-word;
}

.producto-container .producto .producto__item .producto__item__descripcion p{
    font-size: 1.3rem;
}

.producto-container .producto .producto__item .producto__item__descripcion a{
    font-size: 1.5rem;
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    border: solid 1px rgb(255, 255, 255);
    width: fit-content;
    padding: 10px;
    margin: auto;

}
.producto-container .producto .producto__item .producto__item__descripcion a:hover  {
    background-color: rgba(159, 158, 158, 0.642);
}

.producto-container .producto .producto__imagen{
    max-width: 600px;
    height: 290px;
    
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
    
} 

.producto-container .producto .producto__imagen .producto__imagen-container{
    width: 100%;
    height: 100%;
    
}

.producto-container .producto .producto__imagen .producto__imagen-container img{
    width: 100%;
    height: 100%;
}






/*seccion, apartado de comentarios y porcentajes de los mas consumido*/

.seccion{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    text-align: center;
    padding: 80px 15px;
    padding-bottom: 120px;
}

.seccion .seccion-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    gap: 1rem;
    justify-items: center;
    
}

.seccion h2{
    
    margin-bottom:100px;

}
.seccion .seccion-container .seccion__valoracion{
display: flex;
flex-direction: column;
gap: 30px;

}

.seccion .seccion-container .seccion__valoracion .seccion__valoracion__comentarios{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    
}



.seccion .seccion-container .seccion__valoracion .seccion__valoracion__comentarios .seccion__valoracion__comentarios__calificacion{
    display: flex;
    
    justify-content: center;
    height: 70px;
    flex-wrap:wrap ;
    
}

.seccion .seccion-container .seccion__valoracion .seccion__valoracion__comentarios .seccion__valoracion__comentarios__calificacion .seccion__valoracion__comentarios__calificacion__perfil{
    max-width: 30%;
    height: 100%;
}


.seccion .seccion-container .seccion__valoracion .seccion__valoracion__comentarios .seccion__valoracion__comentarios__calificacion .seccion__valoracion__comentarios__calificacion__estrellas{
    max-width: 70%;
    height: 100%;
}

.seccion .seccion-container .seccion__valoracion .seccion__valoracion__comentarios .seccion__valoracion__comentarios__parrafo{
    margin-top: 5px;
    font-size: 1.1rem;
    max-width: 400px;
}



/*seccionde porcentajes*/
.seccion .seccion__porcentajes{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%; 
    
}

.seccion .seccion__porcentajes .seccion__porcentajes__item{
    font-size: 1.6rem;
    
    
    
}

.seccion .seccion__porcentajes .seccion__porcentajes__item div{
    background-color: rgb(95, 0, 0);
    min-height: 45px;
    text-align: center;
    margin-top: 20px;
    border-radius:10px ;
    padding: 5px;
}
.seccion .seccion__porcentajes .seccion__porcentajes__item div:hover{
    background-color: rgba(95, 0, 0, 0.725);

}

.seccion .seccion__porcentajes .seccion__porcentajes__item h4{
    
}



/*seccion de lista dee menus disponibles*/
.lista{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding:2.7rem 0;
    color: aliceblue;
    min-height: 90vh;
    
}

.lista .lista__comida-rapida{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    justify-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.lista .lista__comida-rapida .lista__comida-rapida__item{
    max-width: 100%;
    width: 200px;
    min-height: 200px;
}

.lista .lista__comida-rapida .lista__comida-rapida__item:hover{
    border: 2px solid rgb(255, 255, 255);
    color: rgba(245, 245, 220, 0.811);
}

.lista .lista__comida-rapida .lista__comida-rapida__item img{
    width: 95%;
    height: 140px;
}

.lista .lista__comida-rapida .lista__comida-rapida__item:hover img{
    opacity: 0.6;
    width: 100%;
    height: 150px;
}

.lista .lista__comida-rapida .lista__comida-rapida__item h4{
    font-size: 20px;
    text-align: center;
}



/*seccion del formulario--------*/
.formulario{
    display:  flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    min-height: 90vh;
}

.formulario .formulario__contactos{
    background-image:linear-gradient(rgba(0, 0, 0, 0.364),rgba(0, 0, 0, 0.485)),url(../assets/hamburguesa-gigante-varias-hamburguesas_783299-2228.avif);
    background-size:cover;
    max-width: 750px;
    
    flex-grow: 1;
    flex-basis: 0;
    min-width: 700px;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formulario .formulario__datos{
    
    max-width: 550px;
    padding: 20px;
    color: aliceblue;
    margin: auto; /* margin al item hijo auto, afecta el centrado en flex*/
    flex-grow: 1;
    flex-basis: 0;
    min-width:500px;
}

.formulario .formulario__datos label{
    display: block;
    font-size: 1.3rem;
}

.formulario .formulario__datos input{
    display: block;
    font-size: inherit;
    min-height: 30px;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}

.formulario .formulario__datos input:hover, .formulario .formulario__datos textarea:hover,.formulario .formulario__datos label select:hover{
background-color: rgba(18, 18, 18, 0.751);
}

.formulario .formulario__datos textarea{
    max-width: 50%;
    min-width: 70%;
    max-height: 100px;
    min-height: 100px;
    font-size: 1rem;
    color: inherit;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.formulario .formulario__datos label select{
    min-height: 30px;
    color: inherit;
    background-color: black;
    
}

.formulario .formulario__datos .formulario__datos__enviar{
    margin-top: 20px;
    box-shadow: 2px 2px 2px white;
}

.formulario .formulario__datos .formulario__datos__resetear{
    box-shadow: 2px 2px 2px white;
}


/*Nosotros----------Nosotros*/

.nosotros{
    background-image: linear-gradient(rgba(0, 0, 0, 0.581),rgba(0, 0, 0, 0.674)),url(../assets/imagen-fondo-nosotros.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    min-height: 90vh;
}

.nosotros .nosotros__parrafo{
    font-size: 1.5rem;
    margin: 30px 0px;
    margin-bottom: 70px;
}

.nosotros .nosotros__tarjetas-container{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.nosotros .nosotros__tarjetas-container .nosotros__tarjetas{
    max-width: 230px;
    min-height: 320px;
    background-color: rgb(0, 0, 0);
    padding: 20px;  
}

.nosotros .nosotros__tarjetas-container .nosotros__tarjetas:hover{
    background-color: rgba(0, 0, 0, 0.722);
}

.nosotros .nosotros__tarjetas-container .nosotros__tarjetas:hover img{
    opacity: 0.6;
}

.nosotros .nosotros__tarjetas-container .nosotros__tarjetas img{
    width: 100%;
    height: 65%;
}

.nosotros a{
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: black;
    padding: 15px;
    margin: auto;
    width: fit-content;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 1.2rem;
    border: 3px solid white;
}

.nosotros a:hover{
    background-color: rgba(240, 248, 255, 0.325);
    font-size: 1.4rem;
}


/*footer*/

.footer{
    padding: 0.3rem 3rem;
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.footer .footer__politicas{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap:5px;
    
    
}
.footer .footer__politicas>p{
    
}

.footer .footer__redes{
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    
}

.footer .footer__redes .footer__redes-container{
    display: flex;
    gap: 2rem;
    
}

/*Media Queries--------------------------Queries*/


/*media query del nav */
@media screen and (max-width:900px) {

    /* modificando el */
    .menu .menu__nav-container {
        
        position: absolute;
        left: 0;
        top: 66px;
        background-color: rgb(97, 1, 1);
        translate: 0 -126%;
        transition: menu .1s linear;
        transition-property: translate ;
        z-index:0;
    }

    .menu__nav-container .menu__nav{
        flex-direction: column;
        
        display: none;
        
    }
    .menu .menu__nav-container ul{
        gap: 0;
    }
    .menu .menu__nav-container ul>li{
        padding:15px 10px ;
        
        box-shadow: 2px 0px 1px white;
    }
   /* modificando propiedades cuando el checkbox este chequeado */
    .menu .menu__desplegable:checked ~ .menu__nav-container{
        display: flex;
        
        translate: 0 0;
        

    }
    
    .menu label{
        display: flex;
        
    }
}





/*Modificar algunas propiedades del porcentaje,formulario*/

@media screen and (max-width:768px){
    .seccion .seccion__porcentajes{
        align-self: center;
    }
    .main .main__presentacion h1{
        font-size: 2.7rem;
    }
    
    .main .main__presentacion p{
        font-size: 1.3rem;
        
        
    }
}

@media screen and (max-width:612px){
    .formulario .formulario__datos{
        min-width: 300px;
    }
    .formulario .formulario__contactos{
        min-width: 300px;
    }

    .menu .menu__nav-container{
        width: 100%;
    }

    .menu__nav-container .menu__nav{
        width: 100%;
        text-align: center;
    }
}

